@import "../abstracts/mixins";
@import "../abstracts/variables";
.footer-container__navigation {
    display: flex;
    justify-content: space-between;
    &__navList {
        display: flex;
        flex-direction: column;
    }
    & ul {
        @include listItems;
    }
    & li {
        margin: 5px;
        margin-bottom: 0;
        font-size: 0.85rem;
        color: $color-font-primary;
        position: relative;
        cursor: pointer;
    }
    & li::before {
        position: absolute;
        top: 1px;
        right: -6px;
        width: 6px;
        height: 6px;
        content: '';
        transition-timing-function: ease;
        transition-duration: .3s;
        transition-property: background-color, opacity;
        border-radius: 7px;
        background-color: transparent
    }
    & li:hover::before {
        background-color: orange;
    }
    &__copyright p {
        font-size: 0.6rem;
        margin-left: 45px;
        margin-top: 0;
        color: $color-font-primary;
    }
    &__socialIcons {
        display: flex;
        justify-content: space-evenly;
        & a {
            margin: 10px;
            color: $color-font-primary;
        }
        & a:hover {
            color: orange;
        }
    }
}