@import "../abstracts/mixins";
@import "../abstracts/variables";
.nav-bar__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bg-color-primary;
    &__title {
        color: $color-font-primary;
        margin-left: 40px;
        font-size: 20px;
    }
    &__navItems {
        display: flex;
        justify-content: space-between;
        margin: 10px;
    }
    & ul {
        @include listItems;
    }
    & li {
        margin: 10px;
        font-size: 15px;
        color: $color-font-primary;
        position: relative;
        cursor: pointer;
    }
    & li::before {
        position: absolute;
        top: 1px;
        right: -6px;
        width: 6px;
        height: 6px;
        content: '';
        transition-timing-function: ease;
        transition-duration: .3s;
        transition-property: background-color, opacity;
        border-radius: 7px;
        background-color: transparent
    }
    & li:hover::before {
        background-color: orange;
    }
    & li:active {
        background-color: red;
    }
}